@font-face {
    font-family: Alarm Clock;
    src: url(../fonts/alarm-clock.ttf) format('truetype');
    font-weight: normal;
}

html {
    font-family: Alarm Clock;
}

table {
    width: 495px;
    margin: 0;
    background-color: gold;
    padding: 2px 0 2px 2px;
}

tr {
    height: 165px;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
}

#som {
    width: 499px;
    height: 165px;
}

#som .number_circle:not(:first-child) {
    margin-left: 2px;
}



.number_circle {
    background-color: gray;
    text-align: center;
    font-size: 100px;
    padding: 25px;
    width: 115px;
    display: inline-block;
    color: gold;
}
